{
  "parser": "typescript",
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "tabWidth": 2,
  "semi": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true
}
